.App {
  text-align: center;
}

.row{
  border:1px solid #f9f9f8;
  margin: 10px 0px;
  padding: 10px 0px;
  background: #f5ebeb;
  border-radius: 10px;
}
.col{
  border:1px solid #fff;
  border-radius: 10px;
}

