.App {
  text-align: center;
}
<<<<<<< HEAD
=======
.row{
  border:1px solid #999;
  margin: 10px 0px;
  background: #ffebeb;
}
.col{
  border:1px solid #e3e3e3;
}
>>>>>>> e4ee62da3b43de96aecd8bec65a0b408b81bb64b
